<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>buttons</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button color="tertiary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <ion-button
    style="margin-top: 1em"
    color="danger"
    expand="full"
    routerLink="/alert"
    >Anchor</ion-button
  >

  <ion-row style="margin-top: 1em">
    <ion-col>
      <ion-button color="success" expand="full" routerLink="/avatar">
        Avatar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="success" expand="full" routerLink="/action-sheet">
        Action Sheet
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-button style="margin-top: 1em" fill="clear">Clear</ion-button>
  <ion-button style="margin-top: 1em" fill="outline">Outline</ion-button>
  <ion-button style="margin-top: 1em" fill="solid">Solid</ion-button>


</ion-content>
